# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-Learn
4. Matplotlib

<table> 
    <th> Data Science Tools </th> 
    <tr>
        <td> Tensorflow </td>
    </tr>
    <tr>
        <td> Tableau </td>
    </tr>
    <tr>
        <td> Matlab </td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes//60
mins = minutes % 60
print('hours:', hours, 'minutes:', mins)

hours: 3 minutes: 20

**Objectives:**
<br>
List popular languages for Data Science
- Python
- R
- Julia
- Scala
- Java

## Author : Jesvin